* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}

.home-container{
    max-width: 1200px;
    margin: auto;
}

p, a {
    color: #999;
}

[aria-controls="menu-list"]{
	display: none;
}

header {
    display: flex;
    align-items: center;
    height: 4rem;
}

h1, h2 {
    font-family: 'Roboto', Times, serif;
    font-weight: 100;
}

h1, h2,
h1, h1 + p,
h2, h2 + p,
h3, .team i {
    color: #6b6b6b;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.name {
    flex: 1;
}

i.fa-solid.fa-m {
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 50%;
}

ul {
    list-style: none;
    display: flex;
    gap: 0 2rem;
}

/* || Main Content */

h1 {
    font-size: 4rem;
}

h1, h2, h5, img, .social, .copyright,
.about p, .team p, .contact p{
    text-align: center;
}

img { max-width: 100%; }

.about, .team {
    margin: 3rem auto;
}

.about p {
    padding: 1rem 6rem 0 6rem;
}

.rooms {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 2rem;
    margin-top: 4rem;
}

.rooms h3 {
    margin: 1rem 0;
}

.rooms img {
    width: inherit;
}

.team h2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 4rem 1rem 0;
    justify-content: center;
    font-size: 2rem;
}

.team h2::before,
.team h2:after {
    display: block;
    content: '';
    height: 2px;
    width: 10px;
    background: #6b6b6b;
    align-self: center;
    margin: 0 1rem;
}

.team > p {
    padding: 1rem 8rem;
}

.team-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 3rem;
    gap: 3rem;
    max-width: 1000px;
    margin: auto;
}


.team-container div {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.team-container img {
    width: inherit;
    margin-bottom: 1rem;
}

.team-container p,
h4 {
    text-align: left;
    margin: 0;
    line-height: 1.5rem;
    color: #666;
    font-weight: 600;
}

.team .team-icon {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.team i {
    margin: 0 .25rem;
    color: #C8C8C8;
}

.team-container div i:hover {
    color: #777;
}

i.fa-solid fa-angle-left, i.fa-solid fa-angle-right {
    align-self: center;
    padding: .5rem;
}

i.fa-solid.fa-angle-left {
    margin-right: 2rem;
}

i.fa-solid.fa-angle-right {
    align-self: flex-end;
    margin-left: 2rem;
}

footer {
    background-color: #282828;
    color: #777;
    margin: 4rem 0.25rem 0 0.25rem;
    padding: 1rem;
}

.social {
    padding-top: 1rem;
    text-transform: uppercase;
    font-size: .75rem;
}

.social i {
    padding: 0 .1rem 0 .5rem;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.contact h5 {
    line-height: 2rem;
    color: white;
}

.contact p,
.copyright {
    line-height: 1rem;
    font-size: .75rem;
}

.copyright {
    border-top: 1px solid;
    padding: 1rem 0;
}

@media (max-width: 750px) {

    h3 {
        text-align: center;
    }

    .team-container {
        margin-top: 2rem;
        display: grid;
        grid-template-areas: 
        "left person-1 person-1 person-2 person-2 right"
        "left person-3 person-3 person-4 person-4 right";
    }

    .left {grid-area: left;}
    .person-1 {grid-area: person-1;}
    .person-2 {grid-area: person-2;}
    .person-3 {grid-area: person-3;}
    .person-4 {grid-area: person-4;}
    .right {grid-area: right;}

    .team i {
        text-align: left;
    }
}

@media (max-width: 500px) {

    .menu {
        order: 2;
        text-align: right;
        perspective: 800px;
        width: 100px;
    }

    .menu ul {
        max-height: 0;
        overflow: hidden;
        transform: rotateX(90deg);
		transition: all 0.5s;
    }

    [aria-controls="menu-list"] {
        display: inline-block;
        /* margin-top: 30px; */
        margin-top: 3rem;
    }

    [aria-expanded="true"] ~ ul {
        display: grid;
        max-height: 500px;
        transform: rotateX(0);
    }

    [aria-expanded="true"]{
        margin-top: 5rem;
    }

    [aria-expanded="false"] .close {
        display: none;
    }

    [aria-expanded="true"] .close {
        display: inline-block;
    }

    [aria-expanded="true"] .open {
        display: none;
    }

    button {
        color: white;
        background-color: #282828;
        padding: .25rem;
        border-radius: 5px;
    }

    button:hover {
        color: #999;
    }

    .team-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .team div {
        align-items: center;
    }

    .social span {
        display: none;
    }

    .social a:hover {
        text-decoration: none;
        color: white;
    }

    .contact {
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }

    .about > p,
    .team > p {
        padding: 0 1rem;
    }
}